.education {
  list-style: none;
  padding: 0;
}

.education__list__item {
  @extend .dashed-bottom;
  &::before {
    content: none;
  }
}
.education__title {
  font-size: $h4-font-size;
  color: $black-bright;
  margin-bottom: 5px;
  font-weight: $font-thin;
}

.education__subtitle {
  @extend .blue;
  margin-bottom: 5px;
}

.education__date {
  font-size: 0.9rem;
}
