.flagship {
  display: flex;
}

.flagship__icon {
  font-size: 25px;
  color: $blue;
  margin-right: 15px;
  margin-top: 4px;
}

.flaghsip__title {
  color: $black-bright;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: $h4-font-size;
}
