.project {
  @extend .dashed-bottom;
}

.project__title {
  font-size: $h4-font-size;
  margin-bottom: 5px;
}

.project__meta {
  display: flex;
  margin: 10px 0;
  margin-bottom: 0;
  font-size: 0.9rem;

  i {
    margin-right: $mr-icon-size / 2;
  }
}

.project-description {
  margin-top: 10px;
  line-height: 1.3rem;
}

.project__meta__date {
  margin-right: 30px;
}

.project-description__list {
  padding: 0;
  margin-top: 5px;
}

.project__subtitle {
  @extend .blue;
  color: $blue;
  font-size: 1.1rem;
  margin-bottom: 0px;
  margin-top: 8px;
}

.project__link {
  margin-top: 5px;
  display: block;
  font-size: 0.9rem;
}
