.skill {
  @extend .dashed-bottom;
}
.skill__title {
  color: $blue;
  text-transform: uppercase;
  font-weight: $font-thin;
}

.skill__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  li {
    padding: 10px;
    margin-right: 20px;
    border-bottom: 1px solid #bebebe;
    color: #384347;
    font-weight: 600;
    &::before {
      margin: 0;
    }
  }
}
