* {
  color: #50595c;
  font-family: Helvetica, Sans-Serif;
  font-size: 0.9rem; }

h1,
h2,
h3 {
  color: #000; }

h1 {
  font-size: 35.33px;
  margin-bottom: 0; }

h2 {
  font-size: 23.33px;
  text-transform: uppercase;
  border-bottom: 3px solid black; }

h3 {
  color: #008bff;
  margin-top: 0;
  font-size: 1.2rem; }

h4 {
  color: #191919;
  font-size: 21px;
  margin: 1rem 0; }

p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 0.95rem; }

a {
  text-decoration: none; }

ul {
  list-style-type: none;
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 0; }

li::before {
  content: "";
  margin-left: -7px; }

table {
  width: 100%; }
  table td {
    vertical-align: top; }

.table-3-col td {
  width: 33%; }

.table-2-col .first-col {
  width: 55%;
  padding-right: 40px; }
.table-2-col .second-col {
  width: 45%; }

.contact {
  display: flex;
  font-size: 0.7rem; }

.contact__icon {
  margin-right: 10px;
  color: #008bff; }

.contact__link {
  font-weight: 600;
  text-decoration: none;
  color: #495357; }
  .contact__link:hover {
    text-decoration: none;
    color: #495357; }

.section {
  margin-bottom: 40px; }

.dashed-bottom, .education__list__item, .project, .skill, .community {
  border-bottom: 1px dashed #d6d6d6;
  padding-bottom: 1rem; }
  .dashed-bottom:last-child, .education__list__item:last-child, .project:last-child, .skill:last-child, .community:last-child {
    border-bottom: none;
    padding-bottom: 0; }

.blue, .education__subtitle, .project__subtitle, .community__subtitle {
  color: #008bff;
  font-weight: 600;
  font-size: 1.1rem;
  font-weight: 400; }

.flagship {
  display: flex; }

.flagship__icon {
  font-size: 25px;
  color: #008bff;
  margin-right: 15px;
  margin-top: 4px; }

.flaghsip__title {
  color: #191919;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 21px; }

.education {
  list-style: none;
  padding: 0; }

.education__list__item::before {
  content: none; }

.education__title {
  font-size: 21px;
  color: #191919;
  margin-bottom: 5px;
  font-weight: 400; }

.education__subtitle {
  margin-bottom: 5px; }

.education__date {
  font-size: 0.9rem; }

.project__title {
  font-size: 21px;
  margin-bottom: 5px; }

.project__meta {
  display: flex;
  margin: 10px 0;
  margin-bottom: 0;
  font-size: 0.9rem; }
  .project__meta i {
    margin-right: 5px; }

.project-description {
  margin-top: 10px;
  line-height: 1.3rem; }

.project__meta__date {
  margin-right: 30px; }

.project-description__list {
  padding: 0;
  margin-top: 5px; }

.project__subtitle {
  color: #008bff;
  font-size: 1.1rem;
  margin-bottom: 0px;
  margin-top: 8px; }

.project__link {
  margin-top: 5px;
  display: block;
  font-size: 0.9rem; }

.skill__title {
  color: #008bff;
  text-transform: uppercase;
  font-weight: 400; }

.skill__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  flex-wrap: wrap; }
  .skill__list li {
    padding: 10px;
    margin-right: 20px;
    border-bottom: 1px solid #bebebe;
    color: #384347;
    font-weight: 600; }
    .skill__list li::before {
      margin: 0; }

.community {
  padding-bottom: 0.6rem; }

.community__title {
  margin-bottom: 5px;
  font-weight: 400; }

/*# sourceMappingURL=index.css.map */
