$blue: #008bff;
$gray: #50595c;
$dark-gray: #495357;
$black: #000;
$black-bright: #191919;
$hr-color: #d6d6d6;

$mr-icon-size: 10px;

$h4-font-size: 21px;

$font-bold: 600;
$font-thin: 400;

* {
  color: $gray;
  font-family: Helvetica, Sans-Serif;
  font-size: 0.9rem;
}

h1,
h2,
h3 {
  color: $black;
}

h1 {
  font-size: 35.33px;
  margin-bottom: 0;
}

h2 {
  font-size: 23.33px;
  text-transform: uppercase;
  border-bottom: 3px solid black;
}

h3 {
  color: $blue;
  margin-top: 0;
  font-size: 1.2rem;
}

h4 {
  color: $black-bright;
  font-size: $h4-font-size;
  margin: 1rem 0;
}

p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 0.95rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 0;
}
li::before {
  content: "";
  margin-left: -7px;
}

table {
  width: 100%;
  td {
    vertical-align: top;
  }
}

.table-3-col {
  td {
    width: 33%;
  }
}

.table-2-col {
  .first-col {
    width: 55%;
    padding-right: 40px;
  }
  .second-col {
    width: 45%;
  }
}

.contact {
  display: flex;
  font-size: 0.7rem;
}

.contact__icon {
  margin-right: $mr-icon-size;
  color: $blue;
}

.contact__link {
  font-weight: $font-bold;
  text-decoration: none;
  color: $dark-gray;
  &:hover {
    text-decoration: none;
    color: $dark-gray;
  }
}

.section {
  margin-bottom: 40px;
}

.dashed-bottom {
  border-bottom: 1px dashed $hr-color;
  padding-bottom: 1rem;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.blue {
  color: $blue;
  font-weight: $font-bold;
  font-size: 1.1rem;
  font-weight: $font-thin;
}

@import "./flagship";
@import "./education";
@import "./project";
@import "./skill";
@import "./community";
