@media print {
  body {
    background-color: #ffffff;
    background-image: none;
    color: #000000;
    /* padding: 5mm 15mm; */
  }
  #ad {
    display: none;
  }
  #leftbar {
    display: none;
  }
  #contentarea {
    width: 100%;
  }
  .footer,
  #non-printable {
    display: none !important;
  }
  #printable {
    display: block;
  }
}

/* @page {
  size: auto;
  margin: 0mm;
} */
